{% extends '__base__.html' %}
{% block tab_title %}Login {% endblock %}
{% block title %}Login {% endblock %}
{% block content %}
{% if message %}
{{ message }}
{% endif %}
<form name='login' method="post">
        <br />
            {% csrf_token %}
            <label>Login:
                <input type='text' name="login">
            </label>
            <br />
            <label>Password:
                <input type='password' name="password">
            </label>
            <br />
            <input type="submit" class="submit-button" value="Login">
        <br />
        </form>
{% endblock %}
